print() Imprime un mensaje en la consola.

In [ ]:
print("Hola Mundo!")

input() Lee una entrada de la consola.

In [ ]:
nombre = input("¿Cuál es tu nombre?")

len() Devuelve la longitud de una secuencia.

In [ ]:
len("Hola")

str() Convierte un objeto en una cadena.

In [ ]:
str(42) #devuelve "42"

int() Convierte un objeto en un entero.

In [ ]:
int("42")  #devuelve 42

float() Convierte un objeto en texto.

In [ ]:
float("3.14") #devuelve 3.14

list() Convierte un objeto en una lista.

In [ ]:
list((1, 2, 3)) #devuelve [1, 2, 3]

tuple() Convierte un objeto en una tupla.

In [ ]:
tuple([1, 2, 3]) #devuelve (1, 2, 3)

set() Convierte un objeto en un conjunto.

In [ ]:
set([1, 2, 2, 3]) #devuelve {1, 2, 3}

dict() Convierte un objeto en un diccionario.

In [ ]:
dict([('a', 1), ('b', 2)]) #devuelve {'a': 1, 'b': 2}

range() Genera una secuencia de números.

In [ ]:
range(5) #devuelve [0, 1, 2, 3, 4]

enumerate() Devuelve una lista de tuplas con el índice y el elemento correspondiente de una secuencia.

In [ ]:
list(enumerate(["a", "b", "c"])) #devuelve [(0, 'a'), (1, 'b'), (2, 'c')]

count() Devuelve el número de veces que una subcadena dada aparece en una cadena.

In [ ]:
"Hola Mundo".count("o") #devuelve 2


sum() Devuelve la suma de los elementos de una secuencia.

In [ ]:
sum([1, 2, 3, 4, 5]) #devuelve 15

max() Devuelve el elemento máximo de una secuencia. 
min() Devuelve el elemento mínimo de una secuencia.

In [ ]:
max([1, 2, 3, 4, 5]) #devuelve 5
min([1, 2, 3, 4, 5]) #devuelve 1

sorted() para obtener una nueva lista ordenada a partir de la lista numeros, sin modificar la lista original. La nueva lista se almacena en la variable numeros_ordenados y se imprime por separado, mientras que la lista original numeros permanece sin cambios.

sort() para ordenar la lista 'numeros' in situ, lo que significa que la lista original se modifica y el resultado se imprime directamente.
NOTA: Si la lista son float o int, los ordenará en secuencia creciente.
      Si la lista son str, los ordenará por orden alfabético.
      Si la lista son float o int convertidos a str, los ordena según el primer dígito.

In [ ]:
#Ejemplo con int
numeros = [4,2,1,3]
numeros.sort()
print(numeros) # Salida:[1,2,3,4]
numeros=[4,2,1,3]
numeros_ordenados =sorted(numeros)
print(numeros) # Salida: [4,2,1,3]
print(numeros_ordenados) # Salida:[1,2,3,4]

In [ ]:
#Ejemplo con str
Lista = ["d", "k","b","a"]
Lista.sort()
print(Lista) #Salida ['a', 'b', 'd', 'k']

In [ ]:
#Ejemplo con float o int convertidos a str
Lista = ["21", "4","12","9"]
Lista.sort()
print(Lista) #Salida ['12', '21', '4', '9']

reverse() Devuelve una secuencia invertida de los elementos de una secuencia. Modifica directamente la lista original y la sobreescribe, pero no devuelve ningun valor. Es decir, si intentas crear una lista2 = lista1.reverse() no se generara nada, devolvera none.

In [ ]:
list = [1, 2, 3, 4, 5]
list.reverse()
print(list)
#devuelve [5, 4, 3, 2, 1]

reversed(lista) Genera los elementos iterables de una lista invertida. Se generan los elementos por separado, si se quisiera generar una nueva lista invertida, se tiene que crear lista2=[] y hacer un .append() en el bucle.

In [ ]:
lista = [1, 2, 3, 4, 5]
for x in reversed(lista):
    print(x)

Otro método para invertir listas es usando la indices lista2 = lista[inicio:fin:paso]. Usando solo paso -1 tenemos la lissta invertida.

In [ ]:
lista = [1, 2, 3, 4, 5]
lista2=lista[::-1]
print(lista2)

abs() Devuelve el valor absoluto de un número.

In [ ]:
abs(-5) #devuelve 5

round() Redondea un número a un número entero o a un número dado de decimales.

In [ ]:
round(3.14159, 2) #devuelve 3.14

pow() Devuelve un número elevado a una potencia dada.

In [ ]:
pow(2, 3) #devuelve 8

divmod() Devuelve el resultado de la división y el resto de dos números.

In [ ]:
divmod(10, 3) #devuelve (3, 1)

bool() Convierte un objeto en un valor booleano.

In [ ]:
bool(0) #devuelve False

type() Devuelve el tipo de un objeto.

In [ ]:
type('Hola') #devuelve <class 'str'>

find() Devuelve la posición de la primera ocurrencia de una subcadena dada en una cadena, o -1 si no se encuentra.

In [ ]:
"Hello world".find("world") #retorna 6

replace() Reemplaza todas las ocurrencias de una subcadena dada en una cadena con otra subcadena dada.

In [ ]:
"Hello world".replace("world", "John") #retorna "Hello John"

split() Divide una cadena en una lista de subcadenas, utilizando un separador dado.

In [ ]:
"Hello, world".split(", ") #retorna ["Hello", "world"]

lstrip() Elimina los espacios en blanco al principio de una cadena.

In [ ]:
" Hello".lstrip() #retorna "Hello"

rstrip() Elimina los espacios en blanco al final de una cadena.

In [ ]:
"Hello ".rstrip() #retorna "Hello"

capitalize() Convierte la primera letra de una cadena en mayúscula.

In [ ]:
"hello world".capitalize() #retorna "Hello world"

join() Une una lista de cadenas en una sola cadena, utilizando otra cadena como separador.

In [ ]:
", ".join(["apple", "banana", "cherry"]) #retorna "apple, banana, cherry"

upper() Convierte una cadena en mayúsculas.

In [ ]:
"hello".upper() #retorna "HELLO"

lower() Convierte una cadena en minúsculas.

In [ ]:
"HELLO".lower() #retorna "hello"

title() Convierte la primera letra de cada palabra en mayúscula.

In [ ]:
"hello world".title() #retorna "Hello World"

strip() Elimina los espacios en blanco al principio y al final de una cadena.

In [ ]:
" Hello ".strip() #retorna "Hello"

cociente Devuelve el cociente de la división de dos números enteros.

In [ ]:
7 // 3 #devuelve 2

resto Devuelve el resto de la división de dos números enteros.

In [ ]:
7 % 3 #devuelve 1

append() Agrega un elemento al final de una lista.

In [ ]:
fruta = ['manzana','banana','kiwi']
fruta.append('naranja') 
#devuelve ['manzana','banana','kiwi','naranja']

extend() Agrega los elementos de una lista a otra lista.

In [ ]:
lista1 =[1,2,3] 
lista2 = [4,5,6]
lista1.extend(lista2)
print(lista1) #devuelve[1,2,3,4,5,6]

index() Devuelve el índice de la primera ocurrencia de un elemento en la lista.

In [ ]:
numeros = [1,2,3,2,1] 
numeros.index(2) #devuelve '1'

insert(posición,elemento) Inserta un elemento en una lista en una posición dada.

In [ ]:
lista = [1,2,3]
lista.insert(1,4)
print(lista) #devuelve [1,4,2,3]

pop() Elimina y retorna el último elemento de una lista.

In [ ]:
lista = [1,2,3]
elemento =lista.pop()
print(lista) # devuelve la lista sin el último elemento
print(elemento) #devuelve '3'

remove() Elimina la primera ocurrencia de un elemento en una lista.

In [ ]:
lista = [1,2,3]
lista.remove(2)
print(lista) #devuelve [1,3]